.root {
  --text-color: hsl(0, 0%, 15%);
  --background-color: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}

.toast {
  display: flex;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  padding: 0.8em 1em;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  opacity: 0;
  border-radius: 3rem;
  transition: opacity 500ms ease;
}
