@media screen and (min-width: 400px) {
  .main-image-container,
  .attribution,
  .search-form,
  .add-email-form {
    width: 400px;
  }

  .main-image-container {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .main-image-container,
  .attribution,
  .search-form,
  .add-email-form {
    width: 600px;
  }
  .main-image-container {
    height: 400px;
  }
}
