.pic-wrapper.saved-image {
  position: relative;

  & > .saved-image-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5px);
    right: 0;
    z-index: 1;

    & span {
      display: none;
    }

    & a {
      display: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover span,
    &:hover a {
      display: flex;
      color: white;
      font-size: 1rem;
      text-align: center;
      text-shadow: 0 0 5px black;
    }
  }
}

.toast {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  padding: 0.8em 1em;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  opacity: 0;
  border-radius: 3rem;
  transition: opacity 500ms ease;
}
