* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.saved-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.pic-wrapper.saved-image {
  position: relative;

  img {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  & > .saved-image-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5px);
    right: 0;
    z-index: 1;

    & span {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover span {
      display: block;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 0 5px black;
    }
  }
}
