.saved-image-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  margin: 2rem auto;
}

.saved-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
  border: 1px solid #ccc;
  min-width: 100%;
  max-width: 1400px;
  min-height: 229px;
}

.saved-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.saved-images-info {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .saved-image-container {
    min-width: 400px;
  }
}
